header {
    .container {

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                align-items: center;
                gap: 40px;

                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #fff;
                    transition: all 1s ease-in-out;
                }

                a:hover {
                    color: #3A68B8;
                }
            }

            button {
                width: 9%;
                height: 30px;
                background: #3A68B8;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
                border: none;
                border-radius: 5px;
                transition: all 1s ease-in-out;
            }

            button:hover {
                background: none;
                color: #3A68B8;
                transform: scale(1.2);
                border: 3px solid #3A68B8;
            }
        }
    }
}