.section2 {
        margin-top: 100px;

        .container {
            .cards {
                display: flex;
                align-items: center;
                gap: 30px;

                .card_rasm {
                    img {
                        max-width: 100%;

                    }
                }

                .card_text {
                    max-width: 45%;

                    h2 {
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 130%;
                        letter-spacing: 0%;
                        color: #fff;
                        padding-bottom: 30px;
                    }

                    p {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        color: #979696;
                        padding-bottom: 50px;
                    }

                    button {
                        width: 30%;
                        height: 50px;
                        background: #3A68B8;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        transition: all 1s ease-in-out;
                    }

                    button:hover {
                        background: none;
                        color: #3A68B8;
                        transform: scale(1.2);
                        border: 3px solid #3A68B8;
                    }
                }
            }
        }
    }