.section1 {
        margin-top: 100px;

        .container {
            .cards {
                display: flex;
                align-items: center;
                gap: 30px;

                .card_text {
                    .nex {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        color: #3A68B8;
                        padding-bottom: 10px;
                    }

                    h1 {
                        font-weight: 800;
                        font-size: 55px;
                        line-height: 130%;
                        letter-spacing: 0%;
                        color: #fff;
                        padding-bottom: 40px;
                    }

                    p {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        color: #979696;
                        padding-bottom: 50px;
                    }

                    button {
                        width: 38%;
                        height: 40px;
                        background: #3A68B8;
                        border: none;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #fff;
                        transition: all 1s ease-in-out;
                    }

                    button:hover {
                        background: none;
                        color: #3A68B8;
                        transform: scale(0.9);
                        border: 3px solid #3A68B8;
                    }
                }
            }

            .section_bottom{
                display: flex;
                align-items: center;
                gap: 50px;
            }
        }
    }